body{
    padding: 0;
    margin: 0;
    background-color: #d6d6f2;
    text-align: center;
}

.navbar{
    height: 50px;
    background-color: rgb(70, 122, 242);
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    display: block;
    
}
.Home{
    color: white;
    font-size: larger;
    text-decoration: none;
    margin-right: 25%;
}
.Student{
    color: white;
    font-size: larger;
    text-decoration: none;
}
.Contact{
    color: white;
    font-size: larger;
    text-decoration: none;
    margin-left: 25%;
}
.Studentsdetail{
    font-size: 45px;
    margin-left: 2%;
    font-weight: bold;
}
.addbtn{
    width: 200px;
    height: 40px;
    text-align: right;
    font-size: larger;
    font-weight: bold;
    border-radius: 25px;
    background-color: #61eed2;
    text-align: center;
    margin-left: 35%;
}

.data{
    background-color: white;
    margin-top: 8%;
    width: 1200px;
    border: 3px solid black;
    margin-left: 10%;
    font-size: 30px;   
}
td{
    margin-left: 20px;
    border-bottom: 1px solid;
}
th{
    border-bottom: 3px solid;
}
.parentbtn{
    margin-top: 50px;
}

